@media (min-width:600px) {
    .left_section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    
}

.right_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 40%;
    float: right;
    
}
}



@media (max-width: 600px) {
/* styles for screens with a width of 600px or less */
.left_section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_section{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
}